{{!-- tee times cards with update and cancel --}}

<div class="columns">
  <div class="column is-one-fifth">
<div class="card time-cards">
  <div class="card-content">
    <p class="title has-text-centered is-size-4">
      {{tee_time_start}}
    </p>
        <p class="subtitle">
      $45.00
    </p>
  </div>
  <footer class="card-footer">
    <p class="card-footer-item">
      <span>
        <input class="button book-time" type="submit" value="Book Time">
      </span>
    </p>
  </footer>
</div></div></div>