<nav class="navbar" role="navigation" aria-label="main navigation">
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item" href="/about">
                About
            </a>

            {{!-- for home link --}}
            <div class="buttons">
                <a class="button is-light" id="logout-btn" href="/">
                    Log out
                </a>
            </div>
        </div>
    </div>
</nav>