<nav class="navbar" role="navigation" aria-label="main navigation">

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href=" http://localhost:3001/api/about">
                About
            </a>

            {{!-- for home link? --}}
            <div class="buttons">
                <a class="button is-light" id="logout-btn" href=" http://localhost:3001/">
                    Log out
                </a>
            </div>
        </div>

    </div>

</nav>