<nav class="navbar" role="navigation" aria-label="main navigation">
    <div id="navbarBasicExample" class="navbar-menu">
         <div class="navbar-brand">
    <a class="navbar-item" href="#">
      <img src="/images/gns_logo.png">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
        <div class="navbar-end">
            <a class="navbar-item" href="/about">
                About
            </a>
            {{!-- for home link --}}
            <div class="buttons">
                <a class="button is-light" id="logout-btn" href="/">
                    Log out
                </a>
            </div>
        </div>
    </div>
</nav>