{{!-- tee times cards with update --}}
{{!-- "wrapper animated bounceInLeft" --}}

{{#if availability}}
    <div class="wrapper animated bounceInLeft">
<div class="tile is-parent is-4 mx-1">
<div class="columns">
  {{!-- <div class="column is-one-fifth"> --}}
<div class="card time-cards">
  <div class="card-content has-background-primary-light">
    <p class="title has-text-centered is-size-4">
      {{tee_time_start}}
    </p>
    {{!-- need to center text --}}
    <p class="subtitle has-text-centered">
      ${{price}}
    </p>
  </div>
  <footer class="card-footer">
    <p class="card-footer-item">
      <span>
        <input class="button book-time has-text-light has-background-success" type="submit" value="Book Time" action="send" method="POST" data-id="{{id}}" data-user-id="{{user_id}}">
      </span>
    </p>
  </footer>
</div>
{{!-- </div> --}}
</div>
</div></div>
{{/if}}
