{{!-- profile for people want to show name, update profile and pass in role for display purpose--}}
<div class="animate__animated animate__bounce">
<div class="box">
Hello,
{{first_name}}{{last_name}}
<br>
Username:{{username}}
</div>
{{!-- do we want to add the tee times booked here? --}}
</div>
