{{!-- profile for people want to show name, update profile and pass in role for display purpose--}}
<div class="animate__animated animate__bounce">
<div class="box">
Hello,
<br>{{first_name}} {{last_name}}
<br>
Username:
<br>{{user_name}}
<br>
Email:
<br><span id="user-email">{{email}}</span>
</div>
</div>
