<tr>
    <th>{{formatDate tee_time_start 'MMMM Do YYYY, h:mm:ss a'}}</th>
    <td>{{#if availability}}
        Available
        {{else}}
        Booked
        {{/if}}</td>
    <td>${{price}}</td>

</tr>