<body id="about">
    
<section class="hero is-success">
    <div class="hero-body">
        <p class="title">
            Golf Tee Time Reservation
        </p>
    </div>
</section>

<div class="container">
    <div class="tile is-ancestor">

        {{!-- Dave info --}}
        <div class="tile is-parent">
            <div class="tile is-vertical">
                <div class="tile is-child box">
                    <p class="title">Dave Dorado</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe perferendis, expedita voluptates
                        architecto laboriosam at voluptas, hic eum corrupti illo numquam explicabo eveniet similique
                        tenetur
                        earum, iste eligendi possimus. Pariatur.
                    </p>
                    <li>
                        <a class="tag is-rounded" href="https://github.com/oddvidaroad" target="_blank">Github</a>
                    </li>
                </div>
            </div>
        </div>

        {{!-- James info --}}
        <div class="tile is-parent">
            <div class="tile is-child box">
                <p class="title">James Plasencia</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe perferendis, expedita voluptates
                    architecto laboriosam at voluptas, hic eum corrupti illo numquam explicabo eveniet similique tenetur
                    earum, iste eligendi possimus. Pariatur.
                </p>
                <li>
                    <a class="tag is-rounded" href="https://github.com/Pcents" target="_blank">Github</a>
                </li>

            </div>
        </div>

        {{!-- Jeanie info --}}
        <div class="tile is-parent">
            <div class="tile is-child box">
                <p class="title">Jeanette Ralph</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe perferendis, expedita voluptates
                    architecto laboriosam at voluptas, hic eum corrupti illo numquam explicabo eveniet similique tenetur
                    earum, iste eligendi possimus. Pariatur.
                </p>
                <li>
                    <a class="tag is-rounded" href="https://github.com/Jeanette-Ralph" target="_blank">Github</a>
                </li>
            </div>
        </div>

    </div>
</div>

{{!-- footer partial --}}
{{>footer}}
</body>