
{{> header}}<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Teetime</th>
      <th>Availability</th>
      <th>Price</th>
    </tr>
  </thead>

  {{#each teetimes as |teetime|}}
  {{> teetime-details}}
  {{/each}}
</table>
{{> footer}}