{{> header}}
<section class="hero is-success is-halfheight">
  <div class="hero-body">
    <div class="">
      <p class="title">
        Golf N Stuff
      </p>
      <p class="subtitle">
        Put your way through heaven's golf course!
      </p>
      </div>
  </div>
</section>
      <div class="animate__animate animate__fadeIn">
    </div>

<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Teetime</th>
      <th>Availability</th>
      <th>Price</th>
    </tr>
  </thead>

  {{#each teetimes as |teetime|}}
  {{> teetime-details}}
  {{/each}}
</table>
{{> footer}}