
{{!-- nav bar header partial--}}
<section class="section">
{{>header}}
</section>
{{!-- profile partial need an if admin- if else --}}
<section class="section">
{{>profile}}
</section>
    
<div class="animate__animated animate__bounce">
<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Teetime</th>
      <th>Availability</th>
      <th>Price</th>
    </tr>
  </thead>
  {{!-- {{#if loggedIn}} --}}
{{#each time as |tee_time_start|}}
  {{!-- {{#each teetimes as |teetime|}} --}}
  {{> teetime-details}}
  {{/each}}
  {{!-- {{/if}} --}}
</table>
</div>
<section class="section">
{{>footer}}
</section>
