{{!-- nav bar header partial--}}

{{>header}}
{{!-- profile partial need an if admin- if else --}}
{{>profile}}
{{!-- booked tee time partial?--}}
{{!-- {{#if logged_in}} if admin else --}}
<div class="container is-flex-row">
{{#each time as |tee_time_start|}}
{{>managetime}}
{{/each}}
</div>

{{!-- footer partial --}}
{{>footer}}

