{{!-- {{#if loggedIn}} --}}
{{!-- nav bar header partial--}}
<section class="section">
  {{>header}}
</section>
{{!-- profile partial need an if admin- if else --}}
<section class="section">
  {{>profile}}
</section>
<h1>{{user_id}}</h1>

<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Teetime</th>
      <th>Availability</th>
      <th>Price</th>
    </tr>
  </thead>
  {{#each time as |tee_time_start|}}
  {{!-- {{#each teetimes as |teetime|}} --}}
  {{> teetime-details}}
  {{/each}}
</table>

<section class="section">
  {{>footer}}
</section>
{{!-- {{else}} --}}
{{!-- <a href="/api/login"></a> --}}
{{!-- {{/if}} --}}