<section class="section">
  {{>header}}
</section>
<section class="section">
  {{>profile}}
</section>
   
<div class="animate__animated animate__bounce">
<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Teetime</th>
      <th>Availability</th>
      <th>Price</th>
    </tr>
  </thead>
  {{#each time as |tee_time_start|}}
  {{> teetime-details}}
  {{/each}}

</table>
</div>
<section class="section">
  {{>footer}}
</section>
